<footer>
  <div style="text-align: center">
    <p style="color: aliceblue; opacity: 40%;">
      <img width="3%" height="3%" src="res/US_State_Dept_Icon.png" alt="">
      ImpactHack 2020 Demo
    </p>
  </div>
</footer>
