<footer>
  <div style="text-align: center">
    <img width="4%" height="4%" src="res/US_State_Dept_Icon.png" alt="US State Department Logo">
    <p style="color: aliceblue; opacity: 30%;">ImpactHack 2020 Demo</p>
  </div>
</footer>
