<%- include("partials/header") %>

<h1> Thank you for participating the Career Exploration Module </h1>

<p>
  We hope you had fun and learned a lot. Like us on Facebook and follow us <br>
  on Instagram to keep up with all the exciting State Department news. <br>
  </p>

<form class="" action="/" method="get">
        <button type="submit" class="btn btn-primary">Return to Start</button>
</form>


<!--- Button with get request to index.js -->
