<%- include("partials/header") %>

   <body class="text-center">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
         <main role="main" class="inner cover">
            <h1 class="cover-heading">Welcome!</h1>
            <div class="row">
               <div style="text-align:left; width:49%" class="col-4">
                  <p class="lead">This career exploration module will determine your potential
                     for careers in the State Department by exposing you to real world scenarios! When
                     you are ready, hit Start to begin.
                  </p>
               </div>
               <div class="col-8"></div>
            </div>
            <p class="lead">
               <a href="/general/type/video/number/1" class="btn btn-lg btn-secondary">Start!</a>
            </p>
         </main>
         <footer class="mastfoot mt-auto">
         </footer>
      </div>
   </body>
</html>
