<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<style>
    body {
    background-color: lightblue;
    font-family: Helvetica;
    }
    
    #main {
    width: 80%;
    max-width: 950px;
    border: 1px gray solid;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    }

    label {
display: block;
}

input {
width: 30px;
margin-left: 20px;
}

h2 {
clear: both;
padding-top: 20px;
}

button {
width: 100px;
margin-top: 20px;
}
</style>
    
    
</head>
<body>

    <body>
        <div id="main"><!-- open main div -->
        <div id="header"><!-- open header div -->
        <h1>JavaScript Quiz</h1>
        </div><!-- close header div -->
        
        <form id="form1">

            <h2>Which is the best description of a variable?</h2>
            <label for="var_string"><input type="radio" name="variable" value="0" id="var_string" />Identifies a portion of a string.</label>
            <label for="var_join"><input type="radio" name="variable" value="0" id="var_join" />A method to join strings.</label>
            <label for="var_info"><input type="radio" name="variable" value="25" id="var_info" />Allows you to store information so it can be reused throughout the program</label>
            <label for="var_condition"><input type="radio" name="variable" value="0" id="var_condition"/>Allows you to make a decision based on a condition.</label>
            
            <h2>Which is the best description of the substring method?</h2>
            <label for="sub_string"><input type="radio" name="sub" value="25" id="sub_string"/>Identifies a portion of a string.</label>
            <label for="sub_join"><input type="radio" name="sub" value="0" id="sub_join"/>A method to join strings.</label>
            <label for="sub_info"><input type="radio" name="sub" value="0" id="sub_info" />Allows you to store information so it can be reused throughout the program</label>
            <label for="sub_condition"><input type="radio" name="sub" value="0" id="sub_condition" />Allows you to make a decision based on a condition.</label>
            
            <h2>Which is the best description of concatenation?</h2>
            <label for="cat_string"><input type="radio" name="con" value="0" id="cat_string" />Identifies a portion of a string.</label>
            <label for="cat_join"><input type="radio" name="con" value="25" id="cat_join" />A method to join strings.</label>
            <label for="cat_info"><input type="radio" name="con" value="0" id="cat_info" />Allows you to store information so it can be reused throughout the program</label>
            <label for="cat_condition"><input type="radio" name="con" value="0" id="cat_condition" />Allows you to make a decision based on a condition.</label>
            
            <h2>Which is the best description of an if statement?</h2>
            <label for="if_string"><input type="radio" name="ifstate" value="0" id="if_string" />Identifies a portion of a string.</label>
            <label for="if_join"><input type="radio" name="ifstate" value="0" id="if_join" />A method to join strings.</label>
            <label for="if_info"><input type="radio" name="ifstate" value="0" id="if_info" />Allows you to store information so it can be reused throughout the program</label>
            <label for="if_condition"><input type="radio" name="ifstate"  value="25" id="if_condition" />Allows you to make a decision based on a condition.</label>
            
            <button type="submit" value="Submit">Submit</button>
            
            </form>
            
            
        
        <p>Your grade is: <span id="grade">__</span></p>
        <p id="grade2"></p>
        </div><!-- close main div -->
        <script>
            document.getElementById("form1").onsubmit=function() {
                   variable = parseInt(document.querySelector('input[name = "variable"]:checked').value);
                   sub = parseInt(document.querySelector('input[name = "sub"]:checked').value);
                   con = parseInt(document.querySelector('input[name = "con"]:checked').value);
                   ifstate = parseInt(document.querySelector('input[name = "ifstate"]:checked').value);
                   
                   
                   result = variable + sub + con + ifstate;
                   
                document.getElementById("grade").innerHTML = result;

                if (result == 0) {result2 = "I don't think you studied."};
if (result == 25) {result2 = "You need to spend more time. Try again."};
if (result == 50) {result2 = "I think you could do better. Try again."};
if (result == 75) {result2 = "So close. Try again."};
if (result == 100) {result2 = "Excellent! You're a JavaScript pro!"};
document.getElementById("grade2").innerHTML = result2; 

                   
            
            
            return false; // required to not refresh the page; just leave this here
            } //this ends the submit function
            
            </script>
            
            
        </body>
        
        
        
        
</body>
<p>Your grade is: <span id="grade">__</span></p>
<p id="grade2"></p>

</html>


