<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      .bg{
        /* The image used */
        background-image: url("res/seal2.png");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
    <!--- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body class="bg">
    <div class="row">"  "</div>
    <div class="row">
      <div class="col"></div>
      <iframe width="800" height="500" src="https://www.youtube.com/embed/VvsyE1GyjyU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="col"></div>
    </div>
    <div class="row">"   "</div>
    <div class="row">
      <div class="col"></div>
      <div class="col text-center">
        <a class="btn btn-primary" href="\quiz" role="button">Continue</a>
      </div>
      <div class="col"></div>
    </div>
  </body>
</html>
