<%- include("partials/header") %>

<body>
    <main role="main" class="container">

    <div>Thank you for your responses. Please review your answers and hit Submit.</div>
    <div class="row justify-content-center">
        <%=  answers %>
    </div>


</body>

</html>
