<%- include("partials/header") %>

<style>
  input[type=email],
  select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=firstName],
  select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=lastName],
  select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
</style>
<body>

  <div id="main" class="container" style="text-align: center;">
    <div class="row">
    </br>
      <div>Thank you for your responses. Please enter your information for further opportunities.</div>
    </br>
    </div>
    <div style="width:100%; display: inline-block;">
    <form method="POST" action="/results/quizSessionId/<%=quizSessionId%>">
      <div class="form-row">
        <div class="col">
          <input type="firstName" name="firstName" class="form-control" placeholder="First name"></input>
        </div>
        <div class="col">
          <input type="lastName" name="lastName" class="form-control" placeholder="Last name"></input>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email"></input>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit Info</button>
    </form>
    </div>
  </div>


</body>
<%- include("partials/footer") %>
</html>
