<%- include("partials/header") %>

<h1>All Done!</h1>

  <%  careerRecs.forEach((description) => { %>
    <p>
      <%= description %>
    </p>
  <%  }) %>

<!-- Button wrapped in delete request to results.js -->

<form method="post" action="/finish/quizSessionId/<%=quizSessionId%>">
      <button type="submit" class="btn btn-primary">Finish</button>
</form>

</body>

</html>
