<%- include("partials/header") %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
      background-color: aliceblue;
  }
  </style>
</head>
<body class="container" style="margin: auto; width: 70%; opacity: 1; text-align: center">
<h1>All Done!</h1>
  <%  careerRecs.forEach((description) => { %>
    <p>
      <div class="card"><%= description %></div>
    </br>
    </p>
  <%  }) %>

<!-- Button wrapped in delete request to results.js -->

<form method="post" action="/finish/quizSessionId/<%=quizSessionId%>">
      <button type="submit" class="btn btn-primary">Finish</button>
</form>

</body>

</html>
