<%- include("partials/header") %>

  <body class="bg">
    <div class="row">"  "</div>
    <div class="row">
      <div class="col"></div>
      <iframe width="800" height="500" src="https://www.youtube.com/embed/VvsyE1GyjyU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="col"></div>
    </div>
    <div class="row">"   "</div>
    <div class="row">
      <div class="col"></div>
      <div class="col text-center">
        <a class="btn btn-primary" href="/general/type/text_instructions/number/1" role="button">Continue</a>
      </div>
      <div class="col"></div>
    </div>
  </body>
</html>
