<%- include("partials/header") %>
<body>
  <div id="main" class="container">
    <div style="width:100%; display: flex; justify-content: center; align-items: center">
      <div class="row">
        </br>
        <div class="col">
          <iframe width="400" height="275" src="https://www.youtube.com/embed/2W6LuP0vAUg" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div style="width:100%; display: flex; justify-content: center; align-items: center">
      <form action="/general" method="post">
        <input type="hidden" name="type" value="text_instructions"></input>
        <input type="hidden" name="number" value="3"></input>
        <input type="hidden" name="id" value="<%=sessionId%>"></input>
        <button type="submit" name="button" class="btn btn-lg btn-secondary">Continue</button>
      </form>
  </div>
  </div>
</body>

</html>

<%- include("partials/footer") %>
